<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/waiter.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    {{!-- <link rel="stylesheet" href="/image"> --}}
  <link rel="stylesheet" href="/js">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.4/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
    
</head>

<body>
    <div class="container">

   <div> 
   <i><h1 class=" heading">Welcome to CiCi Coffee Shop web app</h1></i>
   </div>
    <div class="resta"  >
    <img class="img-thumbnail" src="/image/restaurent.jpg">
    </div>
 

</div>


</body>

</html>