.heading{
    font-size: 70px;
}
/* .img{
    width: 70%;
    margin-left: 200px;
    
    padding: 30px; */
    
    /* background-image: url('/image/pexels-terje-sollie-313700.jpg' ); */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  */

/* } */